* {
	font-family: "Gluten", cursive;
	color: #2c2b25;
}

body {
	width: 100vw;
	height: 100vh;
	background: rgb(255, 243, 229);
	background: linear-gradient(
		90deg,
		rgba(255, 243, 229, 1) 0%,
		rgba(255, 220, 192, 0.5886729691876751) 50%,
		rgba(255, 202, 172, 0.8435749299719888) 100%
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.board {
	background: rgb(255, 160, 152);

	height: fit-content;
	width: fit fit-content;
	border-radius: 10px;
	box-shadow: -10px 10px 20px -10px rgba(0, 0, 0, 0.75);
	display: flex;

	text-align: center;
	padding: 20px;
	flex-wrap: wrap;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
}

#contentBoard {
	height: 450px;
	width: 450px;
	background-color: #ffeded;
	border-radius: 8px;
	display: grid;
	grid-template-columns: repeat(16, auto);
	grid-template-rows: repeat(16, auto);
}

footer {
	margin-top: 20px;
}

#contentBoard > div {
	border: 0.1px dotted #ff8282;
	border-radius: 8px;
}

.slidecontainer {
	width: 100%;
}

.slider {
	appearance: none;
	-webkit-appearance: none;
	width: 50%;
	height: 10px;
	background: #fff9f9;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	border-radius: 50px;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background: #f7d199;
	border-width: 1px;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;

	cursor: pointer;
}

button {
	background-color: #f7d199;
	border-width: 0;
	border-radius: 8px;
	border-style: inset;
	border-image: unset;
	margin-top: 10px;
	padding: 6px 10px;
}
button:hover {
	background-color: #f8c373;
}
